# Eclipse
.settings/
.classpath
.project
.factorypath
.apt_generated/

# Maven
target/

# Java
*.class
bin/

# NetBeans (nakon migracije)
nbproject/
build/
dist/
build.xml
manifest.mf

# OS
Thumbs.db
.DS_Store

# Logs
*.log
doc/
/*.json
